<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>chatting</title>
	<link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
	<div class="container">
		<div class="head">
			<span>자유 채팅방</span>
		</div>
		<div class="chatPage">
			<div class="chatArea">
				<ul class="messages">		
				</ul>
			</div>
		</div>
		<div>
			<form action="/" class="sendMessage">
				<input type="text" id="message" placeholder="대화입력">
				<button>전송</button>
			</form>
		</div>

	</div>

	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<!--<script src="../javascripts/chat.js"></script>-->
	<script src="../javascripts/test.js"></script>
</body>

</html>